@use '../util.module.scss';

.dropdown {
    display: flex;
    position: absolute;
    height: auto;
    background-color: lighten(util.$mainBgColor, 10%);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.6);
    border-radius: 0 0 10px 10px / 0 0 10px 10px;
    right: 3.5vw;
    top: 0;
    z-index: 1;
    transition: all 0.3s linear;

    
}

.active {
    visibility: visible;
    top: 10vh;
}

.unactive {
    visibility: hidden;
    transform: translateY(0);
}