@use '../util.module.scss';
@use 'sass:color';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.dropdown {
    display: flex;
    position: absolute;
    height: auto;
    background-color: lighten(util.$mainBgColor, 10%);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.6);
    border-radius: 0 0 10px 10px / 0 0 10px 10px;
    right: 3.5vw;
    top: 0;
    z-index: 1;
    transition: all 0.3s linear;

    .dashboardLink {
        @include util.textButton();

        &::marker {
            content: 'account_box';
            font-family: 'Material Icons'; 
        }
    }

    a {
        all: unset;
    }
    
}

.active {
    visibility: visible;
    top: 10vh;
}

.unactive {
    visibility: hidden;
    transform: translateY(0);
}