@use '../util.module.scss';
@use 'sass:color';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.signOut {
    @include util.textButton(color.scale(util.$warningRed, $lightness: 25%));

    &::marker {
        content: none;
    }
    &::before {
        content: 'logout';
        font-family: 'Material Icons';
        position: absolute;
        left: 1rem;
        top: 3.8rem;
        font-weight: bold;
    }
}