@use '../util.module.scss';
@use 'sass:color';


.userSectionHeader {
    display: inline-flex;
    position: relative;
    height: 100%;
    width: auto;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    background-color: darken(util.$mainColor, 10%);
    padding: 0 3.5vw;
    box-shadow: -2px 0 5px -1px hsla(0, 0%, 0%, 60%);
    padding: 0 -2.5vw;
    margin-left: 1rem;


    span {
    font-size: 1.7rem;
    width: auto;    
    height: auto;
    text-align: center;
    }

    .pfp {
        margin: 0.5rem;
        height: 70%;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }

    &::before {
        content: url('/vectors/arrow.svg');
        height: 25%;
        transition: all 0.3s linear;
        position: relative;
        right: .5rem
    }

}

.arrowActive::before {
    transform: rotate(90deg);
}

.arrowUnactive::before {
    transform: rotate(0);
}

