@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
/* ================== UTIL VARIABLES ================= */

// Fonts
$mainFont: 'Changa', sans-serif;

// Colors
$mainColor: hsl(278deg, 40%, 40%);
$secondaryColor: hsl(155deg, 40%, 35%);
$mainBgColor: hsl(212deg 10% 20%);

/* ================== UTIL MIXINS ================= */

// Text styles
@mixin buttons ($borderColor: $mainBgColor, $outlineWidth: 4px, $buttonColor: white ) {
    
    cursor: pointer;
    &:focus {
        outline: $outlineWidth solid $borderColor;
    }
    &:hover {
       
        outline: $outlineWidth solid $borderColor;
    }
    &:active {
        background-color: color.scale($buttonColor, $lightness: -25%);
    }
}

/* ================== UTIL STYLES ================= */

//Text styles
.whiteH1 {
    color: hsl(0deg, 0%, 100%);
    font-size: 2.5rem;
    font-family: 'Changa';
}

.standardFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;  
}