@use './editorUtil.module.scss';
@use '../util.module.scss';

.rawStats {
    @include editorUtil.fullWidthFlexBlock();
    margin-top: 2rem;
}

.inputModule {
    @include editorUtil.defaultInputModule();
    @include editorUtil.independentInputModule();
    
    input {
        @include editorUtil.smallInputBox();
    }
}

.header {
    @include editorUtil.blockHeader();
}

.abilities {
    @include editorUtil.subsection();
}

#inspiration {
    @include editorUtil.defaultInputModule();
    @include editorUtil.independentInputModule();
    input {
       width: 1.5rem;
       height: 1.5rem;
       position: relative;
       top: .25rem;
    }
}